div.foto {
    background-color: #c0f0df;
    text-align: center;
}

img#logo {
    width:330px;
}

img {
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    background: gray;
    padding: 10px 10px 10px 20px;
    list-style: none;
    border-top: 1px solid white;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

html, body {
    max-width: 1200px;
    padding: 0;
    height: 100%;
    margin:auto;
    width:100%;
    font-family: Raleway, serif;
}

h3 {
    color: #dc6a5e;
    font-size: 23px;
}


footer {
    background: gray;
    color: #fff;
    clear: both;
    padding: 20px
}

footer h3 {
    color: #fff;
}

.padding {
    padding:5px;
}


@media all and (min-width: 550px) {
    nav ul {
        background: gray;
        border-top: 1px solid #fff;
    }
    nav ul li {
        display: inline-block;
        border: none;
    }
    section#nieuws {
        float: left;
        width: 34%;
    }
    section#instrumenten {
        float: right;
        width: 55%;
    }
}

@media all and (min-width: 920px) {
    section#nieuws {
        float: left;
        width: 27%;
    }
    section#instrumenten {
        float: right;
        width: 65%;
    }
    article {
        display: inline-block;
        width: 46%;
        margin-right: 20px;
    }
    article:nth-child(even) {
        margin: 0;
    }
}

@media all and (min-width: 1200px) {
    .wrapper{
        width: 1200px;
        margin: auto;
    }
}


