* {
    box-sizing:border-box;
}

body {
    margin:0;
    padding:0;
}

.padding {
    padding:5px;
}


footer {
    background-color:#343a40!important;
    color:white;
    clear:both;
    padding:5px;
}

footer a {
    color:white;
    text-decoration:none;
    padding:10px;
}

footer h3 {
    color:white;
}


header h1 {
    text-align:center;
    color:#dc6200;
}

h1 {
    color:#dc6200;
    text-align:center;
}

.wrapper {
    margin-top:50px;
}

#telefoonnummers {
    text-align:center;
    padding:10px;
    color:#dc6200;
}
#adres {
    text-align: center;
    padding:10px;
    color:#dc6200;
}

h3 {
    color:#dc6200;
    text-align: center;
}

div.iframe {
    width:100%;
    padding:10px;
}

.container{
    background-color: lightgray;
}


.form{
    padding:15px;
    margin:auto;
    width:55%;
    color:#dc6200;
}

input,textarea,select {
    display:block;
    width:80%;
}


img {
    width: 100%;
}




.wrapper{
    width: 1200px;
    margin: auto;
}



footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:150px;
}

footer li a {
    display: block;
    color: rgba(255,255,255,.5);
    padding: 8px 16px;
    text-decoration: none;
}

footer li a.active {
    color: white;
}

footer li a:hover:not(.active) {
    background-color: #555;
    color: #ffffff;
}

footer p{
    text-align: center;
    margin-top: 180px;
}

img#bier{
    width: 150px;
    height:150px;
}

#headertext {
    color:#dc6200;
    margin-top: 10px;
}