* {
    box-sizing:border-box;
}

body {
    margin:0px;
    padding:0px;
}

.padding {
    padding:5px;
}


footer {
    background-color:#343a40!important;
    color:white;
    clear:both;
    padding:5px;
}

footer a {
    color:white;
    text-decoration:none;
    padding:10px;
}

footer h3 {
    color:white;
}


header h1 {
    text-align:center;
    color:#dc6200;
}

h1 {
    color:#dc6200;
    text-align:center;
}

.wrapper {
    margin-top:50px;
}

#telefoonnummers {
    text-align:center;
    padding:10px;
    color:#dc6200;
}
#adres {
    text-align: center;
    padding:10px;
    color:#dc6200;
}

h3 {
    color:#dc6200;
    text-align: center;
}

div.iframe {
    width:100%;
    padding:10px;
}

.container{
    background-color: lightgray;
}


.form{
    padding:15px;
    margin:auto;
    width:55%;
    color:#dc6200;
}

input,textarea,select {
    display:block;
    width:80%;
}


img {
    width: 100%;
}



@media all and (min-width: 1200px) {
    .wrapper{
        width: 1200px;
        margin: auto;
    }
}
