
img {
    width: 100%;
}

html, body {
    max-width: 1200px;
    padding: 0;
    height: 100%;
    margin:auto;
    width:100%;
}

h3 {
    color: #dc6200;
    font-size: 23px;
}

h1 {
    color:#dc6200;
}


footer {
    background: #343a40!important;
    color: #fff;
    clear: both;
    padding: 20px
}

footer h3 {
    color: #fff;
}


.padding {
    padding:5px;
}

.padding2{
    padding-top: 10px;
    padding-bottom: 10px;
}


.wrapper{
    width: 1200px;
    margin: auto;
}


footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:150px;
}

footer li a {
    display: block;
    color: rgba(255,255,255,.5);
    padding: 8px 16px;
    text-decoration: none;
}

footer li a.active {
    color: white;
}

footer li a:hover:not(.active) {
    background-color: #555;
    color: #ffffff;
}

footer p{
    text-align: center;
    margin-top: 180px;
}

img#bier{
    width: 150px;
    height:150px;
}

article{
    margin-top: 30px;
    margin-bottom: 30px;

}
