body {
    font-family: 'Roboto Slab', serif;
    margin:0;
    padding:0;
    background-color:#e6f2ff
}

header {
    text-align:center;
    color: #ff6666;
}

h2 {
    text-align:center;
    color:#ff6666;
}

ul {
    padding:0;
    margin:0;
    text-align:center;
}

li {
    padding:5px;
}

