html, body {
    font-family: Roboto Slab, sans-serif;
    margin: 0;
    padding: 0;
}
.ShowcaseImage {
    width: 100%;
    margin-top: 10px;
}

footer {
    margin-top: 10px;
    background: #343a40!important;
    color: #fff;
    clear: both;
    padding: 20px
}

footer h3 {
    color: #fff;
}


.padding {
    padding:5px;
}

.wrapper{
    width: 1200px;
    margin: auto;
}


img {
    width: 100%;
}

.tekstkleur{
    color:#dc6200;

}
section.recept{
    float: left;
    width: 100%;
}
article.spaghettifoto{
    float: right;
    width: 50%;
}
article.bereidingwijze{
    width: 100%;
}
article.spaghettifoto{
    float: right;
    width: 50%;
}
img.spaghettibereiding{
    width: 24%;
    margin-left: 7px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:150px;
}

footer li a {
    display: block;
    color: rgba(255,255,255,.5);
    padding: 8px 16px;
    text-decoration: none;
}

footer li a.active {
    color: white;
}

footer li a:hover:not(.active) {
    background-color: #555;
    color: #ffffff;
}

footer p{
    text-align: center;
    margin-top: 180px;
}

img#bier{
    width: 150px;
    height:150px;
}
